@include test-module('oBrandSetBrand') {
	@include test('Throws error if a brand that is not master, internal or whitelabel is defined.') {
		// Set fake brand.
		$original-brand: $o-brand;
		$o-brand: 'non-existent-brand' !global;
		$error: 'o-brand error: The brand "non-existent-brand" is not supported by o-brand. Please use one of master, internal, whitelabel.';
		$non-brand: oBrandSetBrand();
		@include assert-equal($non-brand, $error);
		// Restore brand after test.
		$o-brand: $original-brand !global;
	}

	@include test('Defaults to master if no brand is defined.') {
		// Set fake brand.
		$original-brand: $o-brand;
		$o-brand: null !global;
		$o-brand: oBrandSetBrand();
		@include assert-equal($o-brand, master);
		// Restore brand after test.
		$o-brand: $original-brand !global;
	}
};
